body {
    font-family: baskervile;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:  center;
    height: 100vh;
}

.todo-container {
    max-width: 600px;
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
                }
.tasks {
    margin-top: 50px;
       }

h2 {
    color: grey;
   }

#taskInput {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
           }

button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
       }

button:hover {
    background-color:purple;
             }

ul {
    list-style-type: none;
    padding: 0;
   }

li {
    margin: 10px;
   }

input[type="checkbox"] 
{
    margin-right: 10px;
}